*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}
p#add-file{
    text-align: center;
    color: white;
}
div#div_file{
    margin: 50px;
    position: relative;
    padding: 10px;
    width: 150px;
    background-color: #2499e3;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px #1a71a9;
}
input#add-file{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
}
